<div class="pages">
<div class="title">Lost in Dragonsnot Falls</div>
<div class="body">
  <img  style="margin:auto;display:block;width:3.25in; height:4.875in;" src="/assets/falls.jpg"/>
  <div class="background">
    This is designed as a beginning adventure for new Guides and players. It's a great place to start if this is your first time playing No Thank You, Evil!
  </div>
  <h2 class="section">Background</h2>
  <div class="descriptive">
    The characters start asleep in their bedrooms when they are woken up by their companions who have a message for them: their friend Woodlynn, the Bee Queen of Into the Closet, needs their help! Her best friend, Niffle, has gotten loast in DragonSnot Falls, and she needs the characters to help find him.
  </div>
  <div class="guide">
    Since this is designed as a starter adventure, there is more description and hand-holding than in most adventures. If your players have some experience, feel free to skim over some of the longer world-building elements and get right to the action.
  </div>
  <h2 class="section">Overview</h2>
  <div class="descriptive">
    In "Lost in DragonSnot Falls" the characters travel Into the Closet and talk to Woodlynn, the Bee Queen. She tells them that her best friend, Niffle, has disappeared in DragonSnot Falls, and she's worried that he may have fallen into the wrong hands.
    <p>
      Niffle has fallen into the wrong hands - or the wrong claws, in this case! He's been captured by a group of saw-toothed witches. The witches are trying to find the dragon's stone heart so they can bring the dragon back to life. They think Niffle knows there it is, and they're holding him captive until he helps them find it.
    </p>
    <p>
      Players nust enter DragonSnot Falls, find the witches, and free Niffle from danger.
    </p>
  </div>
  <!-- <img src="/assets/compass.png"/> -->
  <h2 class="section">A Call for Help</h2>
  <div class="read">
    <p>
    As you lie sleeping, dreaming of something amazing, you feel your companion nudging you awake. You pull the blanket over your head and try to go back to sleep, but your companion hops up on the bed with you, bouncing up and down until you wake up.
    </p>
    <p>
    Once you're awake, you see your companion is holding out a piece of paper with a message.
    </p>
    <p>
    You know by the seal on the paper that it's a letter from your friend, Woodlynn, the Bee Queen of Into the Closet.
    </p>
  </div>

</div>
</div>



<div class="pages">
  <div class="body">
    <div class="ask">Ask the players what their friend Woodlynn the Bee Queen looks like. She lives in a place called the Hive. What does that look like?</div>
    <div class="give">Give the players a few minutes to describe their friend and her home. You might draw a quick image for reference or ask them to do so.</div>
    <div class="give">Give the players a copy of the letter from Woodlynn. (See page 37 for a letter that you can show the players, or feel free to make your own.). You can read the letter out loud to the players or let them read it.</div>
    <div class="ask">Ask the players what they do. How do they prepare, and what do they take with them?</div>
    <div class="give">Give the players a few minutes to decide what their characters want to wear and take with them. Don't be afraid to keep the adventure on track by reminding them of the urgency of their mission.</div>

    <img  style="margin:auto;display:block;width:3.25in; height:2.25in;" src="/assets/beemobile.jpg"/>

    <div class="read">
      <p>
        As you walk through all od the clothes hanging in your closet, your shirts and pants and coats brush your face. Hangers rattle. You can see the back of the closet, and if you keep walking, you're afraid that you might walk right into it. And that your companion will walk right into you.
      </p>
      <p>
        But the closer you get, the more light you see. Your clothes turn into leaves and branches. The sound of hangars becomes the call of songbirds and the chitter of squirrels. You smell flowers and hear a river running somewhere far away.
      </p>
      <p>
        At last, you step out onto soft moss, and you are in a forest. Your friends are with you, each having came from their own bedrooms, each also carrying their gear. Your companions scamper about you, excited to be in a new place.
      </p>
    </div>
    <div class="ask">Ask the players to introduce their characters and companions to each other, especially if it's their first time playing together. You might have them read their sentence and their companion's sentance and then say their favorite thing about their character.</div>
    <div class="read">
      <p>
        Just a few seconds later, a giant blue and yellow bee flies into view, holding a big ship in its feet. It seems to be part animal and part mechanical, and it's wearing goggles. When it gets near you, it starts to hover, staying in the same spot. It seems to take no notice of you, other than to bzzzt its wings a little bit as you get closer.
      </p>
      <div class="show">Show the players the image of the beemobile on page 16.</div>
      <p>
        Suddenly a ladder drops down, and you see someone waving at you from inside the ship. It's your friend, Woodlynn.
      </p>
      <p>"Come on up!" she yells.</p>
    </div>

  </div>
</div>

<div class="pages">
  <div class="body">
    <img  style="display:block;width:7in;column-span:all;height:4in;margin-bottom: 10px;" src="/assets/BeeMobile.png"/>
    <div class="descriptive"><p>Climbing the ladder is an easy task (Goal 1), so everyone can do it without a roll.</p></div>
    <div class="read">
      <p>
        Once you’re inside the ship, the beemobile
        starts whirring its wings, and it begins to move.
        Woodlynn invites you to sit at a high table in
        tall chairs so you can see over the sides of the
        ship to the forest below. Tiny bees bring out
        mugs ﬁlled with sweet honey drinks and swirly
        straws. As you drink, Woodlynn tells you the
        story of Niffle’s disappearance.
      </p>
      <p>
        “Niffle went walking on the trails inside
        DragonSnot Falls two days ago. He likes to
        hike in new places to look for shiny things. But
        I haven’t heard from him since, and he usually
        comes by to have honey cake and tea with
        me in the mornings. I’ve heard rumors that a
        group of witches moved into the area, and I’m
        afraid he’s been captured or worse. Will you
        go ﬁnd him and bring him home safe? I’ll give
        you as much information as I can.”
      </p>
    </div>
    <div class="descriptive">
      <p>
        After hearing this call for help from their
      friend, the characters are probably eager to

      jump in and ﬁnd Niffle. Encourage them to do

      so, and to ask Woodlynn questions to help them
      ﬁgure out what to do next.
      </p>
    </div>
    <h2 class="section">
      Figure Out the Problem
    </h2>
    <div class="ask">
      Ask the players what questions they want
      to ask Woodlynn about her lost friend,
      DragonSnot Falls, or the witches. Feel free
       to encourage players to ask about all three things.
      Woodlynn wants to help the characters succeed, so
      none of these interactions require rolls.
    </div>
    <div class="descriptive">
      This is what Woodlynn can tell the characters:
      <ul>
        <li>
          Niffle is smart and funny, and he likes to
        sing to himself when he is scared. He looks
        a little scary at ﬁrst, but he’s very nice. She
        gives them a picture of Niffle so they know
        what he looks like (see page 17).
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="pages">

  <div class="body">
    <div class="descriptive">
      <ul>
        <li>
          The beemobile will take them to the
          entrance to DragonSnot Falls, but they’ll
          have to go on foot from there.
        </li>
        <li>
          DragonSnot Falls used to be a real live
          dragon, but long ago someone—or
          something—turned him into red stone.
          Now he has two giant waterfalls running
          out of his nose. Woodlynn gives them a
          map of DragonSnot Falls and the nostril
          passages. She says Niffle probably went
          into the left nostril ﬁrst, because he’s left-
          handed and he always picks left ﬁrst.
        </li>
        <li>
          The rumors she has heard are that the
          witches are inside the dragon’s stone body,
          trying to ﬁnd its stone heart so they can
          use it for some secret purpose. She doesn’t
          know what.
        </li>
      </ul>
    </div>
    <div class="ask">
      Ask the players if they’d like to make a plan now that they have the information from Woodlynn
    </div>
    <div class="descriptive">
      <b>Make a Plan:</b> The characters can make a plan
      of action, outlining what they want to do and
      ﬁguring out the best way to do it. Once they
      have a plan, make sure they have everything
      they need. If they’re missing something, they
      can ask Woodlynn for it. If it’s something she
      would reasonably have, she gives it to them. For
      example, she would have equipment like rope,
      lights, or extra food, but not something like a
      car or weapons.
      <p>
        The ride to DragonSnot Falls takes just a few
        minutes. When the beemobile arrives, Woodlynn
        says she must return to oversee the honey
        production, but that she will send the beemobile
        to pick up the players when they’re done. She
        gives each of them a piece of honey candy with
        their name on it. There is also a special one for
        Niffle.
      </p>
      <p>
        If they all eat the candy at the same time, the
        beemobile will come and pick them up. She urges
        them not to lose their candy, though, because
        if someone else finds it, they could use it to call
        the beemobile and attack the Hive.
      </p>
      <p>
        The players can easily get out by climbing
        down the ladder.
      </p>
    </div>


  </div>
  <div style="position:relative;left:50px;bottom:300px;">
    <img  style="width:6in;column-span:all;height:3in;margin-top: 10px;" src="/assets/Niffle.png"/>
  </div>
</div>

<div class="pages">
  <div class="body">
    <h2 class="section">Solve the Problem</h2>
    <div class="descriptive">
      Once the players are on the ground, they can

      see DragonSnot Falls in the distance. It looks

      just like a big red stone dragon, with water

      trickling out of its nose.
    </div>
    <div class="show">
      Show the players the image of
      DragonSnot Falls on page 14.
    </div>
    <div class="descriptive">
      <p>
        To reach the falls, the players have to cross
        a long, rickety wooden bridge. In front of the
        bridge is a device with red, yellow, and green
        buttons that light up when you push them.
      </p>
    </div>
    <div class="ask">
      Ask the players whether they want to

      take a look at the device first or try
      crossing the bridge.
    </div>
    <h2 class="section2">Look at the Device</h2>
    <div class="descriptive">
      The device seems to be repeating a code with

      the red, yellow, and green lights. It’s a Goal 2

      <span class="smart">Smart</span> to determine the code.
      <p>
        If a player succeeds, they figure out that the

        code is:
      </p>
      <p>
        2 green
      </p>
      <p>
        1 yellow
      </p>
      <p>
        1 green
      </p>
      <p>
        2 red
      </p>
      <p>

      </p>
      <p>
        If a player pushes the buttons in that order,

        the device begins to hum softly. It shoots a big

        stream of water right at the characters. It’s

        a Goal 3 <span class="fast">Fast</span> to get out of the way without
        getting wet. Have the players go around the

        table in order to see if they get hit by the water.
      </p>
      <p>
        If a character gets hit by the water, it does 1
        point of <span class="tough">Tough</span> damage.
      </p>
      <p>
        Since this is the first time all the players
        will roll, it’s a good time to remind them of the
        following points:
      </p>
      <ul>
        <li>
          They can Try Harder by using 1 <span class="fast">Fast</span> to

          lower the Goal to 2.
        </li>
      </ul>
    </div>
    <div class="descriptive">
      <ul>
        <li>
          If they have Hustle, it lowers the Goal to 2.
        </li>
        <li>
          If they Try Harder <em>and</em> have Hustle, it

          lowers the Goal to 1. This means they don’t

          have to roll—they succeed automatically.
        </li>
        <li>
          If they have Armor, they take 1 less point
          of <span class="tough">Tough</span> damage (so they don’t take any
          damage from the stream of water).
        </li>
        <p>

        </p>
        <p>
          Remember to describe the result of each
          character’s actions—whether they dive out of

          the way or get sprayed all over—so they really

          feel like they’re experiencing the result of their

          roll. Alternatively, have the players describe

          their actions once they know the result. “You
          don’t get hit by a single drop of water. How did

          you get out of the way so fast?”
        </p>
        <p>
          Once the players jump out of the way (or get
          hit), they look up and notice something odd.
        </p>
      </ul>
    </div>
    <div class="read">
      <p>The water from the device slows to a trickle,
      and standing in front of you is a creature that
      appears so suddenly it’s as if he grew out of
      the water itself. He is a bit like a frog and a
      bit like a human, and he’s dressed in pants,
        suspenders, and a shirt with planets on it.</p>
      <div class="show">
        <p>
        Show the players the image of Mister
          OddSwallow on page 19.
        </p>
      </div>
      <p>He ribbits twice, burps once, and says, “I’m
        Mister OddSwallow, and who might you be?”</p>
    </div>
    <div class="descriptive">
      <p>
        Encourage the players to introduce
        themselves, and then he says, ‘_‘And whose
        stomach called me here today?”
      </p>
      <p>
        Most likely, the characters have no idea what
        Mister OddSwallow is talking about, so they’ll
        have to ask him questions if they want to know.
        Eventually he tells them:
      </p>
      <ul>
        <li>
          When people call him through the device,
          it’s because they want him to predict the
          future for them.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="pages">
  <div class="body">
    <div class="descriptive">
      <ul>
        <li>
          He does this by listening to the rumbling of
          someone’s stomach.
        </li>
        <li>
          If you want him to predict the future, you
          must make your stomach rumble.
        </li>
      </ul>
      <p>

      </p>
      <p>
        Encourage all the players to make tummy-
        rumbling noises if they want Mister OddSwallow
        to tell their future. This is a Goal 4 <span class="smart">Smart</span> roll,
        so one player must also roll the die and get a 4
        or higher.
      </p>
    </div>
    <img  style="margin:auto;display:block;width:3in; height:6.1in;" src="/assets/MrOddSwallow.png"/>
    <div class="descriptive">
      <p>
        Because the players are all working together,
        this is a great time to encourage someone to Be
        Awesome and use 1 <span class="awesome">Awesome</span> to help lower the
        Goal to 3.
      </p>
      <p>
        If they succeed, Mister OddSwallow tells
        them that he has figured out their future.
      </p>
    </div>
    <div class="character">
      <span>Mister OddSwallow:</span>
      level 4; can predict the
      future by the rumbling of someone’s stomach.
      If a character’s stomach rumbles, he tells them
      one thing that he sees in their future. He will not
      ﬁght the players. If they attempt to hurt or ﬁght
      him, he refuses to fight back. If they try again,
      3 he disappears back into the device with another i
      splash of water.
    </div>
    <div class="descriptive">
      <p>
        He says, “I see a crab. No, a slug. No . ..
        some kind of creature in a striped shirt. He has
        four eyeballs and he’s singing. But don’t follow
        the song. That’s the wrong way.”
      </p>
      <p>
        That’s all he can tell them, although he might
        add: “That just might be the weirdest future I
        have ever seen.”
      </p>
      <p>
        The players should ﬁgure out pretty quickly
        that he’s talking about Niffle. If they ask him to
        elaborate, he says that’s all he can see.
      </p>
      <p>
        Mister OddSwallow adds that if they need
        him again in the future, they just need to find
        another device like this one and put in the code.
        “Don’t eat lunch first!” he says. “It’s easier to
        tell the future when you’re hungry!” With a
        burp and a ribbit, he waves and leaves just as
        suddenly as he arrived.
      </p>
    </div>
    <h2 class="section2">Cross the Bridge</h2>
    <div class="descriptive">
      The bridge is rickety and sways in the wind. It
      doesn’t seem likely to break if the characters go
      across one at a time. But if they don’t hold on tight,
      they might fall down and get hurt.
      <p>
      Have the players decide who will go first.
      safely. If they fail, they fall down or slip, taking 1
        Each of them must make a Goal 2 <span class="fast">Fast</span> to cross
        safely. If they fail, they fall down or slip, taking 1
        point of <span class="tough">Tough</span> damage.
      </p>
    </div>
  </div>
</div>


<div class="pages">
  <div class="guide" style="width:6.5in;">
    This map is for you, the Guide. Show the players the map on page 38.
  </div>
  <img  style="margin:auto;display:block;width:6.75in; height:8.1in;" src="/assets/Falls.png"/>
</div>
