<div class="page ">

<div class="title">Lost in Dragonsnot Falls</div>
<div class="body">
  <img  style="margin:auto;display:block;width:3.25in; height:4.875in;" src="/assets/falls.jpg"/>
  <div class="background">
    This is designed as a beginning adventure for new Guides and players. It's a great place to start if this is your first time playing No Thank You, Evil!
  </div>
  <h2 class="section">Background</h2>
  <div class="descriptive">
    The characters start asleep in their bedrooms when they are woken up by their companions who have a message for them: their friend Woodlynn, the Bee Queen of Into the Closet, needs their help! Her best friend, Niffle, has gotten loast in DragonSnot Falls, and she needs the characters to help find him.
  </div>
  <div class="guide">
    Since this is designed as a starter adventure, there is more description and hand-holding than in most adventures. If your players have some experience, feel free to skim over some of the longer world-building elements and get right to the action.
  </div>
  <h2 class="section">Overview</h2>
  <div class="descriptive">
    In "Lost in DragonSnot Falls" the characters travel Into the Closet and talk to Woodlynn, the Bee Queen. She tells them that her best friend, Niffle, has disappeared in DragonSnot Falls, and she's worried that he may have fallen into the wrong hands.
    <p>
      Niffle has fallen into the wrong hands - or the wrong claws, in this case! He's been captured by a group of saw-toothed witches. The witches are trying to find the dragon's stone heart so they can bring the dragon back to life. They think Niffle knows there it is, and they're holding him captive until he helps them find it.
    </p>
    <p>
      Players nust enter DragonSnot Falls, find the witches, and free Niffle from danger.
    </p>
  </div>
  <!-- <img src="/assets/compass.png"/> -->
  <h2 class="section">A Call for Help</h2>
  <div class="read">
    <p>
    As you lie sleeping, dreaming of something amazing, you feel your companion nudging you awake. You pull the blanket over your head and try to go back to sleep, but your companion hops up on the bed with you, bouncing up and down until you wake up.
    </p>
    <p>
    Once you're awake, you see your companion is holding out a piece of paper with a message.
    </p>
    <p>
    You know by the seal on the paper that it's a letter from your friend, Woodlynn, the Bee Queen of Into the Closet.
    </p>
  </div>

</div>
</div>

