@page {
  size: 7in 10in;
  border: .5in solid teal;
  border-radius: .125in;
}

.body {
  text-align: left;
  height: 8.2in;
  column-count: 2;
  padding-top: .35in;
  column-gap: .125in;
}

.background {
  color: teal;
@import url('https://fonts.googleapis.com/css?family=Quicksand');
  font-family: 'Quicksand', sans-serif;
  font-size: .875em;
  margin: auto;
  alignment: center;
  width: 3.1in;
  padding-top: 5px;
  margin-bottom: .2in;
  line-height: 1.2em;
}

.pages {
  width: 7in;
  height: 8.875in;
  border: .625in solid teal;
  padding: 5px;
  padding-top: 0px;
  page-break-before: always;

  border-radius: .7in;
}

.pageback {
  border: .2px solid white;
  padding: 5px;
  padding-top: 0px;
  -webkit-border-radius: .2px;
  -moz-border-radius: .2px;
  border-radius: .2px;
}

.section {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25em;
  color: brown;
  padding-top: .2in;
  padding-bottom: 0px;
  margin: auto;
  alignment: center;
  width: 3.2in;
}

.section2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  color: teal;
  padding-top: .2in;
  padding-bottom: 0px;
  margin: auto;
  alignment: center;
  width: 3.2in;
}

.descriptive {
  color: black;
@import url('https://fonts.googleapis.com/css?family=Quicksand');
  font-family: 'Quicksand', sans-serif;
  font-size: .87em;
  margin: auto;
  alignment: center;
  width: 3.2in;
  padding-top: 0px;
  line-height: 1.2em;
  break-inside: avoid;
}

.descriptive > p {
  text-indent: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  break-inside: avoid;
}

.read {
  break-inside: avoid;
  margin-top: 10px;
}
.read:before {
  content:"Read Aloud";
  color: sandybrown;
  font-size: 1em;
  width: 3.2in;
  margin:auto;
  display: block;
  border-bottom: 2px solid sandybrown;
  break-inside: avoid;
}

.read:after {
  content:"";
  font-size: 1em;
  width: 3.2in;
  margin:auto;
  display: block;
  border-top: 2px solid sandybrown;
}

.read > p:first-child{
  margin-top: 0em;
}

.read > p {
  color: black;
@import url('https://fonts.googleapis.com/css?family=Quicksand');
  font-family: 'Quicksand', sans-serif;
  font-size: .81em;
  clear: both;
  width: 3in;
  margin: auto;
  line-height: 1.2em;
  margin-top: .7em;
  break-inside: avoid;
}

.guide:before {
  background-image:url(/assets/guide.png);
  float:left;
  background-size: .4375in .3975in;
  display: inline-block;
  content:"";
  height: .3975in;
  width: .4375in;
  padding-bottom: 0px;
  margin: 7px;
}

.guide {
  /*border: 3px solid lightgreen;*/
  background-color: rgba(144, 238, 144,.25);
  font-size: .82em;
  width: 3.05in;
  margin: auto;
  overflow: auto;
  line-height: 1.4em;
  break-inside: avoid;
  padding: 8px;
}


@font-face {
  font-family: 'KTF-Roadbrush';
  src:url('/assets/KTF-Roadbrush.ttf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.title {
  border: 2px ridge teal;
  font-family: 'KTF-Roadbrush';
  color: teal;
  font: italic;
  border-top-width: 0px;
  text-align: center;
  margin: auto;
  line-height: .475in;
  text-transform: uppercase;
  font-size: 1.75em;
  width: 4.4375in;
  height: .475in;
}

.ask:before {
  background-image:url(/assets/ask.png);
  float:left;
  background-size: .4375in .3975in;
  display: inline-block;
  content:"";
  height: .3975in;
  width: .4375in;
  padding-bottom: 0px;
  margin: 7px;
}

.ask {
  outline: 3px dotted orange;
  background-color: rgba(255, 218, 185,.25);
  font-size: .82em;
  width: 3.05in;
  margin: 14px auto 14px  auto;
  overflow: auto;
  line-height: 1.4em;
  break-inside: avoid;
  padding: 4px;
}

.give:before {
  background-image:url(/assets/give.png);
  float:left;
  background-size: .4375in .3975in;
  display: inline-block;
  content:"";
  height: .3975in;
  width: .4375in;
  padding-bottom: 0px;
  margin: 7px;
}

.give {
  outline: 3px dotted green;
  background-color: rgba(144, 238, 144,.125);
  font-size: .82em;
  width: 3.05in;
  margin: 14px auto 14px  auto;
  overflow: auto;
  line-height: 1.4em;
  break-inside: avoid;
  padding: 4px;
}

.show:before {
  background-image:url(/assets/show.png);
  float:left;
  background-size: .4375in .4375in;
  display: inline-block;
  content:"";
  height: .4375in;
  width: .4375in;
  padding-bottom: 0px;
  margin: 7px;
}

.show {
  outline: 3px dotted purple;
  background-color: rgba(147, 112, 219, .125);
  font-size: .82em;
  width: 3.05in;
  margin: 14px auto 14px  auto;
  overflow: auto;
  line-height: 1.4em;
  break-inside: avoid;
  padding: 4px;
}

.character {
  outline: 3px dashed dodgerblue;
  background-color: rgba(100,149,237,.125);
  font-size: .82em;
  width: 3.05in;
  margin: 14px auto 14px  auto;
  overflow: auto;
  line-height: 1.4em;
  break-inside: avoid;
  padding: 4px;
}

.character > span {
  font-weight: bolder;
}

.tough {
  font-weight: bolder;
  color: cornflowerblue;
}

.smart {
  font-weight: bolder;
  color: lightgreen;
}

.fast {
  font-weight: bolder;
  color: red;
}

.awesome {
  font-weight: bolder;
  color: mediumpurple;
}
